<!DOCTYPE html>
<html lang="en" >

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Admin Dashboard</title>

       
       
    
        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/adminSideNav.css">

        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/loginStyle.css">
        
        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/btns.css">

        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/checkBoxes.css">

        <link rel="stylesheet" charset=utf-8 type="text/css" href="/styles/otherProperties/topLevel.css">
      
        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/adminStyle.css">
       
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        
    </head>  

    <body >

     <%include ./partials/mainHeader.ejs %>

     <%include ./partials/sideNav/adminNav.ejs %>
                
        <%include ./partials/menu&xbar.ejs %>

         <div id="formLoc">
           <%include ./partials/adminPartials/adminPartials.ejs %>
        </div>

 
 <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <script src='/scripts/adminScript.js'></script>

</body>  

</html>