<html lang="en" >

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Purchasing Application</title>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
       
    
        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/sideNav.css">

        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/loginStyle.css">
        
        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/btns.css">

        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/otherProperties/topLevel.css">

      
        <link rel="stylesheet"  charset=utf-8 type="text/css" href="/styles/purchaseStyle.css">
       

        
    </head>  

    <body >

         <div id="formLoc">
            <form id="msform" method="POST" action="/login">
                   <div class="welcome_page">
                       <h1 id="welcome-top">  ---   </h1>
                          <div id="welcome-Box" class="container">
                            <div >
                                    <h1 id="routeHeader">Welcome To Sourcing App</h1>
                                <p id="direction">Login As Admin Or Sourcing Dept</p>
                                <a href="/CorporationA_Purchase/Login" class="btn btn-primary btn-block mb-2"
                                 id="purchase" >Sourcing</a
                                >
                                <a id="admin" href="/CorporationA_Admin/Login" class="btn btn-secondary btn-block">Admin</a>
                              </div>
                          </div>
                        </div>
               
            </form>
        </div>



                    <!-- <form class="form-group" method="POST" action="/purchase" id="addVend" class="tab-pane fade in active">
                    </form> -->



 
 <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

 <script src="/scripts/adminScript.js"></script>


<script src='/scripts/otherScripts/sideNavScript.js'></script>

</body>  

</html>