<div class="side-nav">
        <ul class="sections">
          <li><a href="/ABH_ADMIN/Dashboard/addUser" class="addUser">Add User</a></li>
          <li><a href="/ABH_ADMIN/Dashboard/removeUser" class="removeUser" >Remove User</a> </a></li>
          <li><a href="/ABH_ADMIN/Dashboard/removeVendor" class="removeUser" >Remove Vendor</a> </a></li>
          <li><a href="/ABH_ADMIN/logout" class="logOut">Log Out</a></li>
        </ul>
      </div>
    