<div class  = "side-nav">
        <ul class   = "sections">
                <div class  = "linkDiv">
                        <li><a href = "/CorporationA_Purchase/Dashboard">Request Quote</a></li>
                </div>

                <div class  = "linkDiv">
                        <li><a href = "/CorporationA_Purchase/Add_Vendor" class="addVend" >Add Vendor </a></li>
                        <li><a href = "/CorporationA_Purchase/Modify_Vendor" class="modVend">Modify Vendor Info</a></li>
                        <li><a href = "/CorporationA_Purchase/Modify_Material" class="modVend">Modify Materials</a></li>
                </div>

                <div class  = "linkDiv">
                        <li><a href = "/CorporationA_Purchase/Add_Category" class="">Add Category</a></li>
                        <li><a href = "/CorporationA_Purchase/Modify_Category" class="">Modify Category</a></li>
                </div>  

                <div class  = "linkDiv">
                        <li><a href = '/CorporationA_Purchase/Logout' class="logout">Logout</a></li>
                </div>
        </ul>
</div>