*,*::before, *::after{box-sizing: border-box;}


body{
    overflow: scroll ;
    /* margin: auto; */
    /* background-image: url('../../images/bodyImg.png' ); */ 
    background-image: url('/images/abh-background1.jpg');
    background-position: center right;
    font-size: 1rem;
    /* border-style: none;
    border-color: red; */
    zoom: 100%;

    
}


.unsubscirbeHead, .unsubscribeMsg, #warningMsg{
    margin-top: 10%;
    text-align:center;
}

.unsubscirbeHead h1{
   font-style: italic;
   font-family: serif;
}
.unsubscribeMsg h3 {
 
font-family: sans-serif;
}
#unsubscribeContact{
    color: green
}
#warningMsg{
    color: steelblue;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



#unit{
    font-size: 16px;
}

.input-group-text{
    height: 38px;
}





.noShow{
    /* background: transparent;
    float: left !important;
    margin-left: -38% !important;
    border: none !important;
    margin-top: 6%;
    font-size: 30px !important;
    font-style: italic;
    font-weight: bold; */
    display: none;
}

.formLoc{
    margin-top: 40%;
    
}
/* Request Form Design */

.inputField{
    background-color: white;
}

.labelMat{
    font-size: 28px !important;
    padding: 0 !important;
    font-weight: bold;
}
.labelReq {
    font-size: 20px !important;
    padding: 0 !important;
    /* padding-right: 10px !important; */

}

.labelReq ,.labelMat{
    background: transparent;
    border: none !important;
    width: 63% !important;
    text-decoration: none;
    text-align: center !important;
}

    #formLoc{
        margin-top: 7%;
       
    }



#reqLabel, #abhRequest{
    display: inline-block;
    margin-top: 0;
    font-style: italic;
    font-size: 130%;
    padding-top: 0;
    padding-bottom: 5%;
}


#title ,#material {
    display: inline-block;
    margin-left: 1%;
    font-style: italic;
    font-size: 160%;
    margin-bottom: 2%;
    padding-top: 5%;
    color: rgb(63, 82, 134);
    text-align: left;
}
    #msform {
        width: 57%;
        margin-left: 23%;
        height: 30px ;
        text-align: center;
        position: relative;
       position: absolute;
        
    }
    #msform fieldset {
        background-image: url('/images/vendFormIMG.jpg');
        background-repeat: no-repeat;
        background-position: center;
        border: 0 none;
        border-radius: 20px;
        box-shadow: 0 0 15px 1px rgba(170, 164, 164, 0.863);
        padding: 10px 30px;
        box-sizing: border-box;
        width: 80%;
        position: absolute;
        margin: 1% 7%;
        
        /*stacking fieldset above each other*/
        
    }
    /*Hide all except first fieldset*/
    #msform fieldset:not(:first-of-type) {
        display: none;
    }
    /*inputs*/
    #msform input, #msform textarea {
        padding: 0;
        padding-left: 9px !important;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 10px;
        width: 60%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 18px;
        float: initial;
        margin-left: 6%;
    }
  
    #msform .action-button:hover, #msform .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #7bc659;
    }
    /*headings*/
    .fs-title {
        font-size: 15px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
    }
    .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 20px;
    }



    .form-label{
        color: rgb(63, 82, 134);
        font-size: 18px;
        text-align: left;
        margin-left: 0;
    }

    #dateSelect{
        display: none;
    }

    #itemCode{
        width: 94% !important;
    }
    #inStock{
        margin-top: 30px;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

h5{
    margin-left: 8%;
    font-style: italic;
    font-size: 160%;
    margin-bottom: 0;
    padding-top: 5%;
    color: rgb(63, 82, 134);

}

.material{
    margin-top: 5%;
    text-align: center;
}

 .form-group{   /*MAKE SURE YOU DON'T TOUCH THIS THIS IS ONLY SO THAT THE DATE PICKER DOESN'T SHOW BEHIND ELEMENTS LET BOOTSTRAP DO THE REST FOR FORM-GROUP*/
    z-index: 1;
}

.fillout{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
}



input{
    
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}
#amount{
    width: 70%;
}
select{
    font-size: 15px;
}

#terms , #shipdateSelect{
    display: none;
}

/* display: none;

} */

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------shipping page--------- */


#address{
    align-content: left;
}

.row.two, .row.three{
        margin-top: 5%;
}
.row.one,.row.two,.row.three{
   margin-left: 15%;
} 

.row.four{
    margin-left: 27%


}


.address-two, .state, .country, .endHour{
        margin-left: 10%;
    }
    .address, .address-two, .city, .state, .zip, .country, .startHour,.endHour{
        display: inline-block;
        
    }


    .startHour{
        margin-right: 2%;
    }
    /* #address, #address-two, #city, #state, #zip, #country, #startHour,#endHour{
        
    } */
        .addLabel{
            margin-bottom: 5%;
        }

        .addLabel, .addInput{
            display: table-row-group;
            min-width: 107%;
            color: rgb(63, 82, 134);
        }
        
        #extraNotes{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .noteSec{
            width: 80% !important;
        }

        /* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



.nav{
    display: inline;
    position: relative;
    margin-right: 10%;
}





.submit{
    border-style: none;
    border-color: black;
}
    .formComp {
        float: right;
        margin-right: 8%;
        margin-top: 1%;
        margin-bottom: 0%;
        border-radius: 500px;
        background-color: #7bc659;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        
    }
    .formComp span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;
    }
    .formComp span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    .formComp:hover span {
        padding-right: 25px;
    }
    .formComp:hover span:after {
        opacity: 1;
        right: 0;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

